* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("../img/background.png");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    font-family: cursive, Arial, sans-serif;
}

a {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    background-color: #fff;
    color: black;
    border: 1px solid;
}

.content {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.caixa_texto_final {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

a:hover {
    background-color: #0c515a;
    color: white;
}


@media only screen and (min-width: 320px) {
    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 80vh;
        width: 300px;
    }

    .imagem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin-bottom: 100px;
    }

    .imagem .close_img {
        width: 250px;
    }

    .texto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        padding: 15px;
    }

    .caixa_link {
        margin-top: 30px;
    }

    .caixa_link a {
        border-radius: 8px;
        padding: 5px 15px;
    }

    .caixa_texto_final {
        width: 300px;
        margin: auto;
        padding: 4px;
        text-align: center;
    }
}

@media only screen and (min-width: 1440px) {
    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 80vh;
        width: 400px;
    }

    .imagem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-bottom: 180px;
    }

    .imagem .close_img {
        width: 300px;
    }

    .texto p, .caixa_link a, .caixa_texto_final p {
        font-size: 20px;
    }

    .caixa_texto_final {
        width: 400px;
    }
}

@media only screen and (min-width: 2560px) {
    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 80vh;
        width: 700px;
    }

    .imagem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        margin-bottom: 200px;
    }

    .imagem .close_img {
        width: 600px;
    }

    .texto p {
        font-size: 40px;
    }

    .caixa_link {
        margin-top: 100px;
    }

    .caixa_link a {
        font-size: 40px;
    }

    .caixa_texto_final {
        margin-top: 5px;
        width: 700px;
    }

    .caixa_texto_final p {
        font-size: 40px;
    }
}