<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/idealizadores.css">
  <script src="../js/idealizadores.js" defer></script>
  <title>Idealizadores</title>
</head>

<body>
  <div class="buttons">
    <button type="button">Voltar</button>
  </div>

  <div class="content">
    <div class="title">
      <h1>Idealizadores</h1>
    </div>

    <div class="card">
      <div class="legends">
        <h2>Nome</h2>
        <h2>Cargo</h2>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>LUCAS FERRO</p>
          <p>ALUNO IFAL</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>PAULO CLEBSON</p>
          <p>ALUNO IFAL</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>CLAUDSON</p>
          <p>ALUNO IFAL</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>EDISON</p>
          <p>PROFESSOR DO IFAL</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>ANNA CLÁUDIA FREIRE</p>
          <p>COORDENADORA DO PROJETO</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>VILSON LACERDA BRASILEIRO</p>
          <p>COLABORADOR</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>GLEYSON DA SILVA XAVIER</p>
          <p>BOLSISTA</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>HELENA VIRGÍNIA</p>
          <p>BOLSISTA</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>ANA JULIA MARLENE DA SILVA</p>
          <p>VOLUNTÁRIA</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>ANA GLÓRIA DE SOUZA SILVA</p>
          <p>VOLUNTÁRIA</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>LETÍCIA RODRIGUES DOS PASSOS MELLO</p>
          <p>VOLUNTÁRIA</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>JESSICLEIDE DA SILVA SOARES DO NASCIMENTO</p>
          <p>VOLUNTÁRIA</p>
        </div>
      </div>

      <div class="row_member">
        <div class="details_member">
          <p>LEANDRO DE MOURA DA SILVA</p>
          <p>VOLUNTÁRIA</p>
        </div>
      </div>


    </div>

  </div>

</body>

</html>