<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/orientacoes.css">
  <script src="../js/orientações.js" defer></script>
  <title>Orientações</title>
</head>

<body>

  <div class="content">
    <div class="buttons">
      <button type="button">Voltar</button>
    </div>
    <div class="conteudo">
      <div class="title">
        <h1>Orientações</h1>
        <br><br>
        <p>Olá, tudo bem, você esta com dúvidas sobre o procedimento de desengasgo do bebê?</p>
        <br>
        <p>Disponibilizaremos o nosso pdf com o passo a passo de como deve ser feito o desengago do bebê.</p>
        <br>
        <p>Para fazer o download basta clicar no botão abaixo .</p>
      </div>
      <div class="buttons baixar">
        <a href="../pdf/sos_desengasgo.pdf">Baixar PDF!</a>
      </div>
    </div>

  </div>
</body>

</html>