<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/tela2.css">
  <script src="../js/tela2.js" defer></script>
  <title>Desengasgo Bebê</title>
</head>

<body>
  <div class="buttons">
    <button class="button-voltar" type="button">Voltar</button>
  </div>
  <div class="content">
    <div class="content-msg">
      <p>Vitória, ajude-me, minha filha está engasgada!</p>
    </div>
    <div class="content-img">
      <img src="../img/enfermeira.png" id="personagem1" alt="Personagem 1">
      <img src="../img/mother_with_baby.png" id="personagem2" alt="Personagem 2">
    </div>
    <div class="buttons">
      <button class="button-vamos" type="button">Vamos!</button>
      <button class="button-nao-sei" type="button">Não sei o que fazer!</button>
    </div>
  </div>
  <audio id="som_click" src="../audio/continuar.mp3" preload="auto"></audio>
</body>

</html>