<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tela_derrota.css">
    <script src="../js/tela-derrota.js" defer></script>
    <title>Derrota</title>
</head>

<body>
    <div class="content">
        <div class="imagem">
            <img class="baby_img" src="../img/baby.png" alt="">
            <img class="close_img" src="../img/close_icon.png" alt="">
        </div>
        <div class="texto">
            <p>
                Não foi dessa vez, <strong><span id="nomeUsuario"></span></strong>! Tente novamente. Mas, antes, leia as
                orientações.
            </p>
        </div>
        <div class="caixa_link">
            <a href="index.html">Jogar novamente</a>
        </div>
    </div>
</body>

</html>