<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tela_vitoria.css">
    <script src="../js/tela-derrota.js" defer></script>
    <title>Vitoria</title>
</head>

<body>
    <div class="content">
        <div class="imagem">
            <img class="close_img" src="../img/vitoria.gif" alt="Vitória">
        </div>
        <div class="texto">
            <p>
                Parabéns, <strong><span id="nomeUsuario"></span></strong>! você conseguiu completar o procedimento e salvou o bebê!
            </p>
        </div>
        <div class="caixa_link">
            <a href="index.html">Jogar novamente</a>
        </div>
    </div>

    <div class="caixa_texto_final">
        <p>
            Agradecemos a sua participação. Projeto primeiros socorros nas escolas:  capacitando, detectando, agindo e prevenindo. Uma parceiria CPT-ETS-UFPB e IFAL.
        </p>
    </div>

    <audio autoplay>
        <source src="../audio/champion-short-version-162086.mp3" type="audio/mp3">
        Seu navegador não suporta a tag de áudio.
    </audio>
</body>

</html>
