<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/tela1.css">
  <script src="../js/tela1.js" defer></script>
  <title>Desengasgo Bebê</title>
</head>

<body>
  <div class="buttons">
    <button class="button-voltar" type="button">Voltar</button>
  </div>
  <div class="content">
    <div class="content-msg">
      <p id="mensagemBot">Olá, <strong><span id="nomeUsuario"></span></strong>, meu nome é <strong>Vitória!</strong>
      </p>
    </div>
    <div class="content-img">
      <img src="../img/enfermeira.png" id="personagem1" alt="Personagem 1">
    </div>
    <div class="buttons">
      <button class="button-vamos" type="button">Avançar!</button>
      <button class="button-nao-sei" type="button" style="display: none;">Ajuda!</button>
    </div>
  </div>
  <audio id="som_click" src="../audio/continuar.mp3" preload="auto"></audio>
</body>

</html>